@model CourseListViewModel

<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="GET"> <!--siccome siamo nella suddetta via possono essere superflui-->
            <div class="input-group">
                <input type="text" name="search" placeholder="Cerca..." value="@Model.Input.Search"/>
                <div class="input-group-append">
                    <button><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row my-2">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <order-link order-by="Title" Input="@Model.Input">Titolo</order-link>
    </div>
    <div class="col-md-2">
        <order-link order-by="Rating" Input="@Model.Input">Rating</order-link>
    </div>
    <div class="col-md-2">
        <order-link order-by="Price" Input="@Model.Input">Price</order-link>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="list-group">
    @foreach(CourseViewModel course in Model.Courses.Results)
    {
        <partial name="Courses/_CourseLine" model="@course" />
    }
</div>

<vc:pagination-bar model="@Model"></vc:pagination-bar>